@model SpeakerCreateVM
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Speaker</h4>
            <p class="card-description">Add new speaker details</p>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input asp-for="Photo" class="form-control" placeholder="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
               
                <div class="form-group">
                    <label asp-for="Position"></label>
                    <input asp-for="Position" class="form-control" placeholder="Position">
                    <span class="text-danger" asp-validation-for="Position"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventId"></label>
                    <select asp-for="EventId" asp-items="ViewBag.Events" class="form-control">
                        <option value="">Select an Event</option>
                    </select>
                    <span class="text-danger" asp-validation-for="EventId"></span>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>
