@using BackEndFinal.ViewModels
@model SubscriberVM

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.3/sweetalert2.min.css" integrity="sha512-WxRv0maH8aN6vNOcgNFlimjOhKp+CUqqNougXbz0E+D24gP5i+7W/gcc5tenxVmr28rH85XHF5eXehpV2TQhRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="subscribe-area pt-60 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="subscribe-content section-title text-center">
                        <h2>Subscribe to our newsletter</h2>
                        <p>I must explain to you how all this mistaken idea</p>
                    </div>
                    <div class="newsletter-form mc_embed_signup">
                        <form method="post" asp-action="SendEmailToSubscribe" asp-controller="Home">
                            <div id="mc_embed_signup_scroll" class="mc-form">
                                <input asp-for="EmailAddress" class="email" placeholder="Enter your e-mail address">
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                <button class="default-btn" type="submit"><span>Subscribe</span></button>
                            </div>
                        </form>
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div>
                            <div class="mailchimp-success"></div>
                            <div class="mailchimp-error"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            console.log('Document ready');
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["TheSameEmailMessage"]';
            var secondErrorMessage = '@TempData["ErroreEmailMessage"]';
            console.log('SuccessMessage:', successMessage);
            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: successMessage
                });
            }
            if (errorMessage) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: errorMessage
                });
            }
            if (secondErrorMessage) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: secondErrorMessage
                });
            }

        });
    </script>
</body>
</html>
