<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            <div class="text-danger" asp-validation-summary="All">
                <form method="post" class="forms-sample">
                <div class="form-group">
                    <label>HobbyName</label>
                    <input type="text" name="HobbyName" class="form-control" placeholder="HobbyName">
                        <input type="text" name="HobbyDesc" class="form-control" placeholder="HobbyDesc">
                    </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>