@model Course

<div class="container">

    <div class="row">
        <div class="card">
            <div class="card-body">
                @foreach (var item in Model.courseImages)
                {
                    if (item.IsMain == true)
                    {
                        <img src="~/img/course/@item.Name" width="300" height="80" />

                        <br />

                        <br />
                        <p>main photo</p>
                    }
                    else
                    {
                        <img src="~/img/course/@item.Name" width="100" height="50" />
                        <a class="text-decoration-none text-black btn btn-primary"
                           asp-action="setmainphoto" asp-route-id="@item.Id">set main</a>

                        <br />

                        <br />
                    }
                }
                <h4>@Model.Title</h4>
                <p>@Model.Description</p>
                <a class="btn btn-github" asp-action="index">go back</a>
            </div>
        </div>
    </div>
</div>
