@model List<Course>
@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-action="Detail" asp-controller="Course" asp-route-id="@item.Id">
                    @{
                        var courseImage = item?.courseImages?.FirstOrDefault(s=>s.IsMain is true);
                        var courseImageUrl = courseImage != null ? courseImage.Name : "default-course.jpg";
                    }
                    <img src="~/img/course/@courseImageUrl" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a href="course-details.html">@item?.Title</a></h3>
                <p>@(item?.Description?.Length >= 50 ? item.Description.Substring(0, 50) : item?.Description)...</p>
                <a class="default-btn" href="course-details.html">read more</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-action="RequestCourse" asp-controller="CourseRequest" method="post" style="display:inline;">
                        <input type="hidden" name="courseName" value="@item?.Title" />
                        <button type="submit" class="default-btn">Request to Buy</button>
                    </form>
                }
                <i class="fa fa-heart wishlist-icon" data-product-id="@item.Id" onclick="toggleWishlist(this, @item.Id)"></i>

            </div>
        </div>
    </div>
}
<style>
     .wishlist-icon {
         cursor: pointer;
         font-size: 24px;
         color: white; 
         transition: color 0.3s ease;
     }

         .wishlist-icon.added {
             color: red;
         }
</style>
