@model IEnumerable<WishlistItem>

<h2>Your Wishlist</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Course.Title</li>
        <a asp-action="RemoveFromWishlist" asp-route-CourseId="@item.CourseID">Delete</a>
    }
</ul>
