@using BackEndFinal.ViewModels
@model PaginationVM<Blog>

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.BlogCount" id="BlogCount" />

        <div class="row" id="BlogList">
            @await Component.InvokeAsync("Blog", new { page = ViewBag.CurrentPage })
        </div>

       
    </div>
</div>
